<div>
  <h1>Home</h1>
  <input id="chatbox" />
  <div id="messageLogs">
    {{#each messages}}
      <p>{{user}} : {{message}}</p>
      <br />
    {{/each}}
  </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>