<div class="container">
  <h1 class="mx-auto fs-1 text-center">Products</h1>
  <div class="row mx-auto">
    {{#each products}}
      <div class="col-md-4 mb-3 d-flex align-items-stretch mx-auto">
        <div class="card" style="width: 18rem;">
          <img src={{thumbnails.[0]}} class="card-img-top" alt="Product image" />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text mb-4">{{description}}</p>
            <a href="" class="btn btn-dark mt-auto align-self-start">Shop</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>